@import '../app.scss';


.home{
    background: url(../../assets/home.png) center center ;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    .home-p{
        padding-top:30%;
        width: 70%;
        flex-basis: 70%;

        p{
            width: 100%;
            font-size:13px
        }
    }
    @include mq('phone'){
        .home-p{
           padding-top: 40% ;
        }
        .second-home-p{
            padding-top: 25%;
        }
    }
    @include mq('phone-wide'){
        min-height: auto;
        .home-p{
            padding-top:20%;
            width: 50%;
            flex-basis: 51%;
            p{
                width: 100%;
                font-size:13px
            }
        }

    }
    @include mq('tablet'){
        background-position: center top;
        min-height: 120vh;
        .home-p{
            padding-top:20%;
            width: 40%;
            margin:0px 10%;
            flex-basis: 40%;
            p{
                width: 100%;
                font-size:13px
            }

        }
        .second-home-p{
           margin-right:0px;
           margin-left:20%;
        }

    }
    @include mq('tablet-wide'){
        .home-p{
            flex-basis: 400px;
            margin:0px 20%;

        }
        .second-home-p{
            margin-right:0px;
            margin-left:20%;
         }
    }
    @include mq('desktop-wide'){
        .home-p{
            padding-top:15%;
            flex-basis:500px;

            p{
                font-size:16px;
            }
        }
    }
    

}