@import '../variables';
@import '../mixins';



.home{
    background: url(../../assets/fadedimg.png) center center ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    .home-p{
        display: flex;
        justify-content: center;
        padding-top:60%;
        .p-wrapper{
            width:85%;
            flex-basis: 85%;
        }
    }
    .link-btn{
        display: block;
        width:max-content;
        margin:20px 0px;
    }
    @include mq('phone'){
        .home-p{
           padding-top: 40% ;
        }
        .second-home-p{
            padding-top: 25%;
        }
    }
    @include mq('phone-wide'){
        min-height: auto !important;
        .home-p{
            padding-top:20%;
        }
        .link-btn{
            display: inline-block;
            margin:20px 0px;
            margin-right:20px;
        }
        .second-home-p{
            justify-content: flex-end;
            padding-right:15%;
        }

    }
    @include mq('tablet'){
        background-size: contain;
        background-position: center -200px;

    
        .home-p{
            width: 100%;
            flex-basis:100%;
            padding-left:200px;
            justify-content: flex-start;
            .p-wrapper{
                width: 550px;
                flex-basis: 550px;
            }
        }
        .second-home-p{
           margin-right:0px;
           margin-left:20%;
        }

    }
    @include mq('tablet-wide'){
        
        .home-p{
            margin:0px;
            .p-wrapper{
                width: 650px;
                flex-basis: 650px;
            }

        }
        .second-home-p{
            margin:0px;
            margin-left:30%;
         }
    }
    @include mq('desktop'){
        background-size: cover;
        .home-p{
            padding-top:15%;
            padding-left:350px;
        }
        .p-wrapper{
            width: 890px;
            flex-basis: 890px;
        }
    }
    

}