@import '../variables';
@import '../mixins';

.members-section{
    position: relative;
    padding-top:20%;
    h1{
        text-align: center;
    }
    .underlined-cmp{
        width: 150px;
        margin:0px auto;
        @include mq('phone-wide'){
            width: 200px;
        }
        @include mq('desktop'){
            width: 300px;
        }
    }
    .members-container{
        padding-top:20%;
        display: flex;
        flex-wrap: wrap;
        margin:0px auto;
        width: 240px;
        @include mq('phone-wide'){
            padding-top:7%;
            width: 360px;
        }
        @include mq('tablet-small'){
            padding-top:5%;
            width: 480px;
        }
        @include mq('tablet-wide'){
            width: 600px;
        }
        @include mq('desktop'){
            width: 720px;
        }
    }
    .circle-img-cropper{
        margin: 0 auto;
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        img{
            margin: 0 auto;
            height: 100%;
            width: auto;
            //margin-left: -25%; //centers the image

        }
    
    }
    .member-card-holder{
        position: fixed;
        top:0px;
        left:0px;
        display: flex;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        @include mq('phone-wide'){
            position: absolute
        }
        z-index: 2;
    }
    @include mq('phone-wide'){
        padding-top:5%;
    }
}
