@import '../variables';
@import '../mixins';

.members-section{
    position: relative;
    padding-top:20%;
    h1{
        text-align: center;
    }
    .underlined-cmp{
        width: 150px;
        margin:0px auto;
        @include mq('phone-wide'){
            width: 200px;
        }
        @include mq('desktop'){
            width: 300px;
        }
    }
    .members-container{
        padding-top:30px;
        width: 320px;
        margin:auto;
        display:flex;
        flex-wrap: wrap;
        
        .member-small{
            margin:20px 5px;
        }
        @include mq('phone-wide'){
            width:480px;
        }
        @include mq('tablet'){
            width:640px;
        }
        @include mq('tablet-wide'){
            width: 800px;
        }
        @include mq('desktop'){
            justify-content: center;
            width: 1120px;
        }
    }
    .circle-img-cropper{
        margin: 0 auto;
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        img{
            margin: 0 auto;
            height: 100%;
            width: auto;
            //margin-left: -25%; //centers the image

        }
    
    }

    @include mq('phone-wide'){
        padding-top:5%;
    }
}
