@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background:$gradient;
}
body, html{
    overflow-x: hidden;
    padding: 0px;
    margin:0px;

    
}

h1,h2,h3,h4,h5 {
    font-family: $heading-font;
    color: $primary-color;
}