@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    color:$primary-color;
}
body, html{
    overflow-x: hidden;
    padding: 0px;
    margin:0px;

    
}

h1,h2,h3,h4,h5 {
    font-family: 'Roboto', 'sans-serif';

    color: $primary-color;
}

hr{
    border:0px;
    border-top: 1px solid $accent-color;
    
}