@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    color:$primary-color;
}
body, html{
    overflow-x: hidden;
    padding: 0px;
    margin:0px;

    
}

h1,h2,h3,h4,h5 {
    font-family: 'Roboto', 'sans-serif';
    margin:0px;
    color: $primary-color;
}

hr{
    border:0px;
    border-top: 1px solid $accent-color;
    
}
h1{
    font-size: 30px;
    @include mq('phone-wide'){
        font-size: 40px;
    }
    @include mq('tablet'){
        font-size: 45px;
    }
}
h2{
    font-size:16px;
    font-weight: normal;
    @include mq('tablet'){
        font-size:22px;
    }
}
h3{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
h4{
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
