@keyframes popOut {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity:1;
    }
}
@keyframes popIn {
    100% {
        transform: scale(0);
        opacity: 0;
    }
    0% {
        transform: scale(1);
        opacity:1;
    }
}