


$heading-font:'Roboto', sans-serif;

$gradient:linear-gradient(#2980b9 0%, #2c3e50 100%);
$gradient-darker:  linear-gradient(45deg, #243b55 0%, #000428 100%);
$gradient-dark: linear-gradient(45deg, #2C3E50 0%, #121920 100%);
$dark-color:#000428;
$primary-color:white;
$accent-color:#4DEDFF;
$lgrey-color:rgba(44, 62, 80, 0.64);
$inverse-color: #2C3E50;
$inverse-accent-color: #2980b9; 