@import './app';

.member-card{
    background: $gradient-darker;
    width: 220px;
    padding:20px;
    margin: 0px auto;
    color:$primary-color;
    //height: 400px;
    box-shadow: -11px 6px 61px rgba(0, 0, 0, 0.46);
    text-align: center;
    h3{
        font-size:15px;
        color:$primary-color !important;
    }
    h4{
        font-size: 12px;
        color: rgba(255,255,255, 0.7);
    }
    h5{
        font-size: 11px;
        font-style: italic;
    }
    p{
        font-size:10px;
    }
    .icon-row{
        padding-top:5px;
        display: flex;
        justify-content: flex-start;
        svg{
            width: 25px;
            height: 25px;
            padding:5px;
        }
    }
    .member-bio{
        text-align: start;
    }
}