@import 'app';



.member-small{
    text-align: center;
    transition: transform .5s;
    width: 120px;

    h3{
        font-size:15px;
    }
    h4{
        font-size: 12px;
        color:$lgrey-color;
    }
    &:hover{
        transform: scale(1.1);
    }
}