@import 'variables';
@import 'mixins';



.member-small{
    position: relative;
    text-align: center;
    transition: transform .1s;
    background-color: $inverse-color;
    border-radius: 8px;
    padding-top: 83px;
    padding-bottom: 38px;
    width: 150px;
    margin-bottom: 50px;
    .circle-img-cropper{
        position: absolute;
        top:-20px;
        left: 20%;
        margin-top:-50px;
    }
    h3, h4{
        color: white !important;
    }

    &:hover{
        transform: scale(1.1);
    }
    .zoom-in-icon{
        background-color: $inverse-accent-color;
        position:absolute;
        bottom: 0px; 
        right: 0px;
        display: flex; 
        align-items: center;
        justify-content: center;
        padding:6px;
        border-radius: 6px;
    }
}