@import '../app.scss';

$font-size: 15px;

.input-field{
    font-size: 13px;
    margin-top:15px;
    margin-bottom:15px;
    padding:5px 5px;
    color:black;
    border: 2px solid $lgrey-color;
    width: fit-content;
    position: relative;
    text-align: center;


        

    label{
        transition: transform .3s, width .3s, color .3s ;
        position: absolute;
        color:$lgrey-color;
        padding: 5px 10px; 
        z-index: 1;
        width: 0px;
        white-space: nowrap;
    }
    input{
        background: transparent;
        position: relative;
        z-index: 3;
        padding: 5px 0px;
        margin:0px auto; 
        font-size:15px;
        border:0px;
        width: 97%;
        &:focus{
            outline: none;
        }
    }

    &:focus-within{
        border-color: #2980b9;
        label{
            width:fit-content;
            transform: translate(0px, -20px);
            background: white;

            color: #2980b9 !important;
        }
    }
    &.has-value{
        label{
            background: white;
            width:fit-content;
            transform: translate(0px, -20px);
            color: $dark-color;
        }

    }
}

