@import '../variables';
@import '../mixins';

.member-card{
    animation: 0.2s ease-out 0s 1 popOut;
    position: relative;
    background: $inverse-color;
    padding:33px;
    padding-top: 90px;
    margin: 0px auto;
    color:$primary-color;
    box-shadow: -11px 6px 61px rgba(0, 0, 0, 0.46);
    text-align: center;
    border-radius: 8px;
    .circle-img-cropper{
        position: absolute;
        top: -20px;
        left: 36%;
    }
    h3, h4{
        color: white !important;
    }
    h5{
        padding-top: 50px;
        font-size: 16px;
        font-style: italic;
    }

    p{
        padding-top: 10px;
        font-size: 15px;
    }
    .icon-row{
        padding-top:5px;
        display: flex;
        justify-content: flex-start;
        svg{
            width: 25px;
            height: 25px;
            padding:5px;
        }
    }
    .member-bio{
        text-align: start;
    }
    .close-btn{
        position:absolute;
        background: #B9295F;
        top:0;
        right:0;
        padding:6px;
        border-radius:6px;
    }
    @include mq('phone-wide'){
        width: 300px;

    }
}
.member-card.closing{
    animation: 0.2s ease-out 0s 1 popIn;
    animation-fill-mode: backwards;
}
.member-card-holder{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0px;
    padding:120px 5px;
    left:0px;
    overflow:auto;
    height:80vh;
    
    z-index: 2;
    @include mq('phone-wide'){
        height: 10vh;
        padding:120px 0px;
        padding-bottom: 90vh;
        width:100%;
    }
    
}