@import '../app.scss';


.recruit-form{
   
    margin:5% auto;
    width: fit-content;
   
   
    input[type=submit]{
        background: $gradient-darker;
        margin:10px;
        color:white;
        border:0px;
        padding:10px;
        width: 130px;
        box-shadow: -3px 2px 21px rgba(0, 0, 0, 0.2);
        transition: transform .3s;
        &:hover{
            transform: scale(.96);
        }
        &:active{

        }


    }
    .input-field{
        margin:16px 10px
    }
    #remail{
        margin:30px 10px;
    }

    @include mq('tablet-small'){
        display:flex;
        flex-wrap:wrap;
        width:470px;
        margin:0px auto;
        justify-content: flex-start;
        .input-field{
            margin:15px 5px;
        }
        #remail{
            margin:20px 5px;
            width: 300px;
        }
        #rguid, #ryos{
            width: 100px;
        }


    }
}